.side-bar
  .side-bar__title
    %h2 カテゴリー


  .side-bar__group-list
    - @groups.each do |group|
      = group.name
      .group
        -# = link_to group_messages_path(group) do
          .group-name
            = group.name
          .group-message
            = group.show_last_message


  .side-bar__create
    %h2 カテゴリー作成
    =link_to new_group_path, class: "icon-group" do
      = icon 'fas', 'cog'