.side-bar
  .side-bar__title
    %p カテゴリー


  .side-bar__group-list
    - @groups.each do |group|
      .group
        = link_to group_messages_path(group), class: "list-name" do
          .group-name
            = group.name


  .side-bar__create
    =link_to new_group_path, class: "icon-group" do
      = icon 'fas', 'cog'
      %p.icon-group カテゴリ作成

  .contact-form
    = link_to "お問い合わせ", new_contact_path, class: "message-contacts-form"
