h1.title{
  font-size: 50px;
}

.header{
  background-color: $header_color;
  height: 70px;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  box-shadow: 2px 2px grey;
}

.logo{
  font-size: 30px;
  font-style: italic;
  font-weight: bold;
  padding-left: 10px;
  margin-right: auto;
  display: flex;

  &__sub{
    font-size: 20px;
    margin-top: 30px;
    margin-left: 10px;
  }
}
.edit {
    padding-right: 40px;
  h2{
    font-size: 15px;
    margin-top: 5px;
    margin-right: 3px;
  }
}

.sign{
  padding:20px;
  display: flex;
  width: 300px;
}

.log-out{
  height: 35px;
  width: 150px;
  font-size: 20px;
  border: solid 1px;
  border-radius: 6px;
  padding:3px;
  color: black;
  margin-right: 20px;
}
a.logo{
  text-decoration: none;
  color: #333333;
  :hover{
    text-decoration: none;
  }
}

a.log-out{
  text-decoration: none;
}

.current_user-name{
  width: 100px;
  height: 35px;
  font-size: 20px;
  margin-left: 5px;
}