.inner-nav{
  height: 40px;
  width: 100%;
  li{
    display: inline-block;
    font-size: 30px;
  }
}



#nav1 {
  color: white;
  height: 45px;
  width: 50%;
  text-align: center;
  background-color:#FF773E ;
  margin-top: 0px;
}

#nav2 {
  color: white;
  height: 45px;
  width: 50%;
  float: right;
  text-align: center;
  background-color: #00BFFF	;
}

#nav1:hover{
  background-color: #FFC7AF;
}
#nav2:hover{
  background-color: #C2EEFF;
}