.global-nav
  = render "messages/nav"
.post-border
.post-wrapper
  .post-container
    = render partial: "main", locals: {posts: @posts}
    .post-header
      = render "side-bar"

  .ranking-top
    .ranking-search
      = render partial: "ranking", locals: {all_ranks: @all_ranks}
